.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bgcontainer{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 50px 20px 50px;
  border: 1px solid grey
}
.validator {
  border: 1px solid gainsboro;
  background-color: azure;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
